blockquote {
  display: block;
  padding: 1.5em 1.5em 1.5em 1.5em;
  margin: 0 0 1.5em;
  position: relative;
  border-left: 4px solid #dd4c39;
  border-right: 4px solid #dd4c39;
  font-weight: 300;
  background-color: #F9F9F9;
}

blockquote footer {
  background-color: #F9F9F9;
  border-color: transparent;
  color: #474747;
  font-size: .85rem;
  font-style: normal;
  text-align: left;
  padding: 0;
}
